**/.DS_Store
node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
coverage
.nyc_output
package-lock.json
packages/amplify-cli/amplify/.config/
packages/amplify-appsync-simulator/public
packages/amplify-dynamodb-simulator/emulator
packages/amplify-dynamodb-simulator/__test__/dynamodb-data
.vscode

packagea/amplify-graphiql-explorer/build

packages/amplify-e2e-tests/lib
packages/*/node_modules
packages/*/package-lock.json
**/.env
amplify-integ*/
packages/**/reports/junit/*
test.out.log
